/************************************************************
animation
*************************************************************/
$char-delay-step:75;

@media #{$small}{
  section.top{
    .main-txt{
      text-align: center;
      svg{
        /*width:92vw;
        max-width:450px;*/
        width:345px;
      }
    }
    .main-txt-s{
      opacity: 0;
      transform:translateX(25px);
    }
    .catch-phrase{
      opacity: 0;
      transform:translate(0,15px);
    }
  }
}

@media #{$large}{
  section.top{
    .main-txt{
      svg{
        width:100%;
      }
    }
    .main-txt-s{
      opacity: 0;
      transform:translateX(25px);
    }
    .catch-phrase{
      opacity: 0;
      transform:translate(20px,0);
    }
    .copyright{
      opacity: 0;
      transform:translate(-10px,0) rotate(90deg);
    }
  }
}

section.top{
  .main-txt{
    svg{
      fill:#000000;
    }
    .char{
      fill-opacity: 0;
      transform: translateY(50px);
    }
    .char-line{
      transform:scaleX(0);
    }
    .char-01{
      animation-delay: 0ms;
    }
    .char-02{
      animation-delay: 1ms * $char-delay-step;
    }
    .char-03{
      animation-delay: 2ms * $char-delay-step;
    }
    .char-04{
      animation-delay: 3ms * $char-delay-step;
    }
    .char-05{
      animation-delay: 4ms * $char-delay-step;
    }
    .char-06{
      animation-delay: 5ms * $char-delay-step;
    }
    .char-07{
      animation-delay: 6ms * $char-delay-step;
    }
    .char-08{
      animation-delay: 7ms * $char-delay-step;
    }
    .char-09{
      animation-delay: 8ms * $char-delay-step;
    }
    .char-line-01{
      transition:1000ms;
      transition-delay: 300ms;
    }
    .char-line-02{
      transition:800ms;
      transition-delay: 800ms;
      transform-origin:227px 0;
    }
  }
  .main-txt-s{
    transition: all 600ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-delay: 1000ms;
  }
  .catch-phrase{
    transition: all 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-delay: 1200ms;
  }
  .copyright{
    transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-delay: 1100ms;
  }
  .deco-medic{
    &::after{
      opacity: 0;
      transition:.5s;
    }
    &.show{
      &::after{
        opacity: 1;
      }
      .text-anim{
        span{
          opacity: 1;
          transform:translateX(0);
        }
      }
    }
  }
  .deco-est{
    &::before,&::after{
      opacity: 0;
      transition:.5s;
    }
    &.show{
      &::before,&::after{
        opacity: 1;
      }
      .text-anim{
        span{
          opacity: 1;
          transform:translateX(0);
        }
      }
    }
  }
  .deco-cprl{
    &::before,&::after{
      opacity: 0;
      transition:.5s;
    }
    &.show{
      &::before,&::after{
        opacity: 1;
      }
      .text-anim{
        span{
          opacity: 1;
          transform:translateX(0);
        }
      }
    }
  }
  .deco-info{
    &::before{
      opacity: 0;
      transition:.5s;
    }
    &.show{
      &::before{
        opacity: 1;
      }
      .text-anim{
        span{
          opacity: 1;
          transform:translateX(0);
        }
      }
    }
  }
  &.show{
    .main-txt{
      .char{
        animation-name: charanim;
        animation-duration: 400ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      .char-line{
        transform:scaleX(1);
      }
    }
    .main-txt-s{
      transform:translateX(0);
      opacity: 1;
    }
    .catch-phrase{
      transform:translate(0,0);
      opacity: 1;
    }
    .copyright{
      transform:translate(0,0) rotate(90deg);
      opacity: 1;
    }
  }
}

@keyframes charanim{
  from{
    fill-opacity: 0;
    transform: translateY(50px);
  }
  to{
    fill-opacity: 1;
    transform: translateY(0);
  }
}

/************************************************************
SMALL
*************************************************************/

@media #{$small}{

  section.top{
    .copyright{
      display: none;
    }
    .deco{
      color:white;
      &.deco-medic{
        font-size: 10px;
        letter-spacing: 0.5em;
        position: absolute;
        top:90px;
        left:50%;
        transform:translateX(-50%);
        white-space: nowrap;
        &::after{
          content:"";
          width:35px;
          height: 3px;
          display: block;
          border:0.5px solid white;
          position: absolute;
          top:-16px;
          right:5px;
        }
      }
      &.deco-est{
        display: none;
      }
      &.deco-cprl{
        font-size: 10px;
        line-height: 1.666em;
        letter-spacing: 0.1em;
        text-align: right;
        position: absolute;
        bottom:100px;
        right:50%;
        margin-right:20px;
        transform-origin: right bottom;
        transform:scale(.6);
        white-space: nowrap;
        &::before{
          content:"";
          width:4px;
          height:40px;
          display: block;
          background-color:white;
          position: absolute;
          top:-43px;
          right:-20px;
        }
        &::after{
          content:"";
          width:4px;
          height: 40px;
          display: block;
          background-color:white;
          position: absolute;
          top:23px;
          right:-20px;
        }
      }
      &.deco-info{
        font-size: 10px;
        letter-spacing: 0.2em;
        position: absolute;
        bottom:105px;
        left:50%;
        margin-left:50px;
        transform-origin: left bottom;
        transform:scale(.6);
        white-space: nowrap;
        &::before{
          content:"";
          width:90px;
          height:5px;
          display: block;
          border:1px solid white;
          position: absolute;
          top:-22px;
          left: 0;
        }
      }
    }
    .scroll-down{
      display: none;
    }
  }
}

/************************************************************
LARGE
*************************************************************/

@media #{$large}{

  section.top{
    .copyright{
      position: absolute;
      top:264px;
      left:40px;
      font-size: 13px;
      letter-spacing: 0.1em;
      transform-origin:left bottom;
      /*transform: rotate(90deg);*/
    }
    .deco{
      color:white;
      &.deco-medic{
        font-size: 18px;
        letter-spacing: 0.5em;
        position: absolute;
        top:124px;
        right:50%;
        &::after{
          content:"";
          width:66px;
          height: 5px;
          display: block;
          border:1px solid white;
          position: absolute;
          top:-33px;
          right:0;
        }
      }
      &.deco-est{
        font-size: 20px;
        letter-spacing: 0.5em;
        position: absolute;
        bottom:105px;
        left:3.2vw;
        &::before{
          content:"";
          width:70px;
          height: 5px;
          display: block;
          background-color:white;
          position: absolute;
          top:46px;
          left:51px;
        }
        &::after{
          content:"";
          width:5px;
          height: 70px;
          display: block;
          background-color:white;
          position: absolute;
          top:50px;
          left:51px;
        }
      }
      &.deco-cprl{
        font-size: 12px;
        line-height: 1.666em;
        letter-spacing: 0.1em;
        text-align: right;
        position: absolute;
        bottom:40px;
        left:50%;
        margin-left:-150px;
        &::before{
          content:"";
          width:5px;
          height:40px;
          display: block;
          background-color:white;
          position: absolute;
          top:-45px;
          right:-20px;
        }
        &::after{
          content:"";
          width:5px;
          height: 40px;
          display: block;
          background-color:white;
          position: absolute;
          top:33px;
          right:-20px;
        }
      }
      &.deco-info{
        font-size: 12px;
        letter-spacing: 0.2em;
        position: absolute;
        bottom:50px;
        left:50%;
        margin-left:360px;
        &::before{
          content:"";
          width:105px;
          height:5px;
          display: block;
          border:1px solid white;
          position: absolute;
          top:-22px;
          left: 0;
        }
      }
    }
    .scroll-down{
      width:30px;
      position: absolute;
      bottom:35px;
      right: 35px;
      z-index: 1;
      .scroll-down-txt{
        display: inline-block;
        font-size: 14px;
        transform: rotate(90deg);
        position: absolute;
        top:43px;
        right: -24px;
        white-space: nowrap;
      }
      .arrow{
        width:8px;
      }
    }
  }
}