h2.title-ja.text-anim.scroll-trigger
  |お問い合わせ
.title-en.font-corm-400.animation-up
  |CONTACT
.animation-up
  p.copy-01
    |お問い合わせ、ご要望がございましたら、
    br.sp
    |こちらからご連絡ください。
  a.round-btn-arrow.btn-color-black(href='/contact/index.php')
    span.font-corm-600 CONTACT