footer
  .footer-nav
    nav
      ul.nav-pages
        li.active
          a(href="/")
            span.font-corm-600 TOP
        li
          a(href="/about/")
            span.font-corm-600 ABOUT
        li
          a(href="/service/")
            span.font-corm-600 SERVICE
      .contact-btn
        a.round-btn-arrow(href="/contact/")
          span.font-corm-600 CONTACT
      ul.nav-terms
        li
          a.font-yugo(href="https://www.hubbit.io/term/")
            |利⽤規約
        li
          a.font-yugo(href="https://www.hubbit.io/policy/")
            |プライバシーポリシー
  .footer-info
    .logo
      a(href="/")
        img(src="/assets/images/common/logo-hubbit.png", alt="Hubbit")
    p.info.font-yugo
      |〒141-0001 東京都品川区北品川5-5-15&emsp;
      br.pc
      |TEL : 050-5850-2698
    .copyright.font-corm-mid
      |Copyright(C) Hubbit,inc All rights reserved