header 
  .logo
    h1.logo-main
      a(href="/")
        img(src="/assets/images/common/logo-hubbit.png", alt="Hubbit")
  .menu#menu
    input.checkbox-toggle#menuInputCheckbox(type="checkbox")
    .hamburger
      div
    .menu-contents
      nav
        ul.nav-pages
          li.gl-nav-top.active
            a(href="/")
              span.nav-txt TOP
          li.gl-nav-about
            a(href="/about/")
              span.nav-txt ABOUT
          li.gl-nav-service
            a(href="/service/")
              span.nav-txt SERVICE
          li.gl-nav-contact
            a(href="/contact/")
              span.nav-txt CONTACT
        
        ul.nav-terms
          li
            a.font-yugo(href="https://www.hubbit.io/term/")
              |利⽤規約
          li
            a.font-yugo(href="https://www.hubbit.io/policy/")
              |プライバシーポリシー
      p.info.font-yugo
        |〒141-0001 東京都品川区北品川5-5-15&emsp;TEL : 050-5850-2698
      .copyright.font-corm-mid
        |Copyright(C) Hubbit,inc All rights reserved
    