extends ./_component/_layout

block title

  title TOP | Hubbit,inc

block description

  meta(name="description",content="Hubbit株式会社では、誰しもがより良い最期を迎えるためAIを活⽤したアプリケーション開発・メディア運営を⾏っております。")

block ogp

  meta(property="og:locale",content="ja_JP")
  meta(property="og:site_name",content="Hubbit,inc")
  meta(property="og:type",content="website")
  meta(property="og:url",content="https://www.hubbit.io")
  meta(property="og:title",content="TOP | Hubbit,inc")
  meta(property="og:image",content="https://www.hubbit.io/assets/images/ogp.jpg")
  meta(property="og:description",content="Hubbit株式会社では、誰しもがより良い最期を迎えるためAIを活⽤したアプリケーション開発・メディア運営を⾏っております。")
  meta(name="twitter:card",content="summary_large_image")
  meta(name="twitter:title",content="TOP | Hubbit,inc")
  meta(name="twitter:description",content="Hubbit株式会社では、誰しもがより良い最期を迎えるためAIを活⽤したアプリケーション開発・メディア運営を⾏っております。")
  meta(name="twitter:image",content="https://www.hubbit.io/assets/images/ogp.jpg")

block seo

  link(rel="canonical",href="https://www.hubbit.io")

block linkfiles

  link(rel="stylesheet",href="/assets/css/common/common.css",media="all")
  link(rel="stylesheet",href="/assets/css/home/index.css",media="all")
  script(defer,src="/assets/js/common/common.js")
  script(defer,src="/assets/js/home/main.js")

  - var bodyClass=['page-home'];
block body

  .bg-gradation
  .contents-wrapper

    //HEADER
    section#header.header

    .slide-contents#slideContents

      main

        //TOP
        section.top#top
          .main-txt#topMainTxt
            .main-txt-row
              .char.char-01
              .char.char-02
              .char.char-03
              .char.char-04
              .char.char-05
            .main-txt-row
              .char.char-06
              .char.char-07
              .char.char-08
              .char.char-09
            .char-line.char-line-01
            .char-line.char-line-02
          p.main-txt-s#topMainTxtS
            img(src="/assets/images/home/top/top-text-02.png", alt="to die a happy death.")
          p.catch-phrase
            picture
              source(media=pic_media,srcset="/assets/images/home/top/top-text-01.png")
              img(src="/assets/images/home/top/top-text-01-sp.png", alt="より良い最期を、ITで実現する")
            
          p.copyright.font-corm-400
            |Copyright(C) Hubbit,inc All rights reserved
          .deco.deco-medic
            .font-corm-600.uppercase.text-anim(data-ms='100') Medical care application
          .deco.deco-est
            .font-corm-600.uppercase.text-anim(data-ms='150') est. 2019.3.05
          .deco.deco-cprl
            .font-playfair-ita.text-anim(data-ms='50')
              |Contractual worker / Director dispatch
              br
              |Production development / Media
              br
              |Recruitment support
              br
              |last stage support / Seminar
          .deco.deco-info
            .font-corm-400.uppercase.text-anim(data-ms='150') information technology
          .scroll-down
            span.scroll-down-txt.font-corm-600 Scroll down
            .arrow
              img(src="/assets/images/common/scroll-down-arrow.svg", alt="scroll down")
        
        //MESSAGE
        section.message#message
          h2.copy-01.text-anim.scroll-trigger(data-yugos='["⼈","⽣","年","時","代","豊"]',data-ms='75')
            |“テクノロジーで
            br
            |⼈⽣100年時代を
            br
            |より豊かに。”
          .message-box
            .title.animation-left-in
              img(src="/assets/images/home/message/message.png", alt="message")
            p.copy-02.animation-up
              |Hubbit
              span.font-yugo 株式会社
              |では
              br
              span.font-yugo 誰
              |しもがより
              span.font-yugo 良
              |い
              span.font-yugo 最期
              |を
              br.sp
              span.font-yugo 迎
              |えるため
              br.pc
              |AIを
              span.font-yugo 活⽤
              |した
              br.sp
              |アプリケーション
              span.font-yugo 開発
              |・
              br
              |メディア
              span.font-yugo 運営
              |を
              span.font-yugo ⾏
              |って
              br.sp
              |おります

        //ABOUT
        section.about#about
          .about-box
            .about-img
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img(src="/assets/images/home/about/photo-01.jpg",alt="")
                  .swiper-slide
                    img(src="/assets/images/home/about/photo-02.jpg",alt="")
                  .swiper-slide
                    img(src="/assets/images/home/about/photo-03.jpg",alt="")
              
            .about-box-txts
              .about-box-txts-inner
                .title-wrapper
                  h2.title-ja.text-anim.scroll-trigger
                    |私たちについて
                  .title-en.font-corm-400.animation-left-in
                    |ABOUT
                .copy-box.animation-up
                  p.copy-01
                    |社会をより良くしたいという
                    br
                    |１⼈ひとりの想い(BIT)を
                    br
                    |形にするための組織(HUB)
                  p.copy-02.font-yugo
                    |⼈の終末期におけるAIを活⽤したアプリケーションの開発・運営を中⼼とした、サービス開発を⾏っています。
                  a.round-btn-arrow(href='/about/')
                    span.font-corm-600 VIEW MORE

        //SERVICE
        section.service#service
          .service-box
            .service-img
              img(src="/assets/images/home/service/service-img-01.jpg", alt="Hubbitはより良い社会を⽬指し、⼈々が抱える課題に１つひとつ向き合って⽇常に無くてはならないサービスを創り出します")
            .service-box-txts
              .service-box-txts-inner
                .title-wrapper
                  h2.title-ja.text-anim.scroll-trigger
                    |サービス内容
                  .title-en.font-corm-400.animation-right-in
                    |SERVICE
                .copy-box.animation-up
                  p.copy-02.font-yugo
                    |Hubbitはより良い社会を⽬指し、⼈々が抱える課題に１つひとつ向き合って⽇常に無くてはならないサービスを創り出します。
                  a.round-btn-arrow(href='/service/')
                    span.font-corm-600 VIEW MORE
            
        //CONTACT
        section.contact#contact
          

      //FOOTER
      section#footer.footer
