/************************************************************
SMALL
*************************************************************/

@media #{$small}{

  section.top{
    position: relative;
    padding-top:140px;
    height: 100vh;
    min-height: 550px;
    .main-txt{
      /*margin:0 auto;
      height: 40vw;
      max-height: 192px;*/
      width:938px;
    }
    .main-txt-s{
      width:130px;
    }
    .catch-phrase{
      width:321px;
      margin:230px auto 0;
    }
  }
}

/************************************************************
LARGE
*************************************************************/

@media #{$large}{

  section.top{
    position: relative;
    width:100%;
    height: 100vh;
    min-height: 840px;
    .main-txt{
      width:938px;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-550px,-50%);
    }
    .main-txt-s{
      width:246px;
      position: absolute;
      top:50%;
      left:50%;
      margin-top:235px;
      margin-left:-358px;
    }
    .catch-phrase{
      width:127px;
      position: absolute;
      top:170px;
      left:50%;
      margin-left:487px;
    }
  }
}