/************************************************************
COMMON
*************************************************************/
section.message{
  
}

/************************************************************
SMALL
*************************************************************/

@media #{$small}{

  section.message{
    margin-top:50px;
    .copy-01{
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5em;
      line-height: 3.16em;
      text-align: center;
      transform:translateX(0.25em);
      &.copy-01-pc{
        display: none;
      }
      /*span:nth-child(1){
        margin-left:-0.5em;
      }
      span:nth-child(n+35){
        margin-left:-2.5em;
      }*/
    }
  }
}

/************************************************************
LARGE
*************************************************************/

@media #{$large}{

  section.message{
    margin-top:50px;
    padding-top:50px;
    text-align: center;
    .copy-01{
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.5em;
      line-height: 3.16em;
      text-align: center;
      display: inline-block;
      position: relative;
      &.copy-01-sp{
        display: none;
      }
    }
  }
}